@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This application is a Movie Rental Application created as a part of my training in ASP.NET MVC and EntityFramework.</p>
<p>Additionally, while working on this project I have used some bootstrap, postman, sql, some HTML, JavaScript, JQuery and Ajax.</p>
    
