@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This application is a Movie Rental Application created as a part of my training in ASP.NET MVC and EntityFramework.</p>
<p>While working on this project I have used the following frameworks and tools:</p>
<ul>
    <li>ASP.NET MVC</li>
    <li>ASP.NET Web API</li>
    <li>Postman</li>
    <li>AutoMapper version:4.1</li>
    <li>SQL -> using Eager Loading (faster, geting bunch of objects together (inner join) in one querry)  not Lazy Loading (slower, geting one after one object in many querries)</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JQuery</li>
    <li>Ajax</li>
    <li>Bootstrap</li>
    <li>Bootbox.js (v:4.3.0)</li>
    <li>JQuery plug-in: DataTable (v:1.10.11) for pagination, sorting and searching</li>
    <li>Glimpse (glimpse.mvc5 and glimpse.ef6) a tool for getting real time diagnostics  </li>
    <li>ZenCoding plug-in: a quick way to generate HTML markup by using a CSS based syntax </li>
    <li>JQuery plug-in: Typeahead developed by Twitter Team</li>
</ul>
  