@model IEnumerable<MovieRentalAppMVC.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("+ Add Customer", "New", "Customer", new { @class = "btn btn-primary" })
<p></p>

@*
@if (!Model.Any())
{
    <p>We don't have any Customer yet.</p>
}
else
{
*@
    <table id="customersTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="js-delete btn-link">Delete</button>
                    </td>
                </tr>
            }
            *@
        </tbody>
    </table>
@*}*@

@*Using JQuery and Ajax on the client side to delete row from the table*@

@* ****** STEEP 1 ******
       <script>
           $(document).ready(function () {
               $("#customersTable .js-delete").on("click", function () {
                   confirm("Are you sure?")
               });
           });
       </script>


    ****** STEEP 2 ******
       <script>
           $(document).ready(function () {
               $("#customersTable .js-delete").on("click", function () {
                   if (confirm("Are you sure?")) {
                       console.log("check in console")
                   }
               })
           });
       </script>

     ****** STEEP 3 ******
    <script>
        $(document).ready(function () {
            $("#customersTable .js-delete").on("click", function () {
                if (confirm("Are you sure?")) {
                    $.ajax({
                        url: "/api/customers/" + $(this).attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("success");
                        }
                    });
                }
            });
        });
    </script>

    ****** STEEP 4 ******
    <script>
        $(document).ready(function () {
            $("#customersTable .js-delete").on("click", function () {
                var button = $(this);

                if (confirm("Are you sure?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>


    ****** STEEP 5 ******

*@

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customersTable").DataTable({
                ajax : {
                    url: "/api/customers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href = '/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-customer-id =" + data + ">Delete</button>";
                        }
                        

                    }
                    
                ]
            });


            $("#customersTable").on("click", ".js-delete", function () {
                var button = $(this);


                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                })
                  
            });
        });
    </script>
}

